.root {
    -fx-background-color: #F3F3F3;
    -fx-font-family: "Segoe UI";
}

.center-title {
    -fx-text-fill: #670B0B;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.subtitle {
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-padding: 5px 0 0 0;
}

.card {
    -fx-background-color: #E5E5E5;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 4);
}


.card-header {
    -fx-background-color: #670B0B;;
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-padding: 12px 15px;
}

.card-title {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}


.card-body {
    -fx-padding: 20px;
}

.card-text {
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-line-spacing: 4px;
}